/* Global Elements */
body {
  height: 100%;
}

/* Global Classes */
.flexbox {
  display: flex;
}
.flexbox.center {
  align-items: center;
}
.flexbox.row {
  flex-direction: row;
}
.flexbox.col {
  flex-direction: column;
}

/* Global components */
img.small {
  height: 48px;
  width: 48px;
}
div.game-container {
  margin-top: 2rem;
}
