/* Global Elements */
html {
  height: 95%;
}
body {
  height: 100%;
}

/* Global Classes */
.flexbox {
  display: flex;
}
.flexbox.center {
  align-items: center;
}
.flexbox.row {
  flex-direction: row;
}
.flexbox.col {
  flex-direction: column;
}
.hidden {
  display: none !important;
}

/* Global components */
img.small {
  height: 48px;
  width: 48px;
}
div.game-container {
  height: 100%;
  justify-content: center;
}
